<div class="container">
  <div class="text-center">
      接收到的参数:{{id}}
  </div>
    <div class="clearfix mt-20">
        <button type="button" class="btn btn-primary" (click)="showGet()">GET</button>
        <button type="button" class="btn btn-primary ml-10" (click)="showPost()">Post</button>
        <button type="button" class="btn btn-primary ml-10">GET</button>
        <button type="button" class="btn btn-primary ml-10" (click)="getJson()">JSON</button>
    </div>
    <div *ngIf="config">
        <h5>{{config.data.title}}</h5>
        --------------------------------------------------------
        <ul>
            <li *ngFor="let header of headers">{{header}}</li>
        </ul>
    </div>
    <hr>
    <h5>{{error}}</h5>
</div>
