<div class="form-inline">
    <select name="province" class="form-control" [(ngModel)]="province" (change)="findChild(province, 1)">
        <option value="">请选择</option>
        <option value="{{item.area_id}}" *ngFor="let item of provList">{{item.title}}</option>
    </select>

    <select name="" class="form-control" [(ngModel)]="city" (change)="findChild(city, 2)">
        <option value="">请选择</option>
        <option value="{{item.area_id}}" *ngFor="let item of cityList">{{item.title}}</option>
    </select>

    <select name="" class="form-control" [(ngModel)]="area">
        <option value="">请选择</option>
        <option value="{{item.area_id}}" *ngFor="let item of areaList">{{item.title}}</option>
    </select>

    <input type="text" name="" class="form-control" placeholder="请输入详细地址"/>
</div>
